
$color-blue-light: #3498db;
$color-white: #fff;
$color-grey-lightest: #EBEDEC;
$color-grey-lighter: #D2D3D7;
$color-grey-light: #6D6E70;
$color-grey-dark: #343D46;
$color-grey-darkest: #202020;
$color-black: #000;
$color-orange: #FA8E12;

$color-primary: $color-blue-light;
$color-background: $color-blue-light;


body {
  background-color: $color-background;
  color: $color-white;
}

* {
  box-sizing: border-box;
}

.calculator {
  position: relative;
  margin: 40px auto;
  border: 2px solid $color-grey-light;
  border-radius: 38px;
  width: 264px;
  height: 534px;
  padding: 50px 16px 54px 16px;
  background-color: $color-grey-lightest;

  .phone-top-dot {
    position: absolute;
    top: 14px;
    left: calc(50% - 5px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-grey-light;
  }

  .phone-speaker {
    position: absolute;
    top: 28px;
    left: calc(50% - 16px);
    width: 32px;
    height: 3px;
    background-color: $color-grey-light;
  }

  .phone-camera {
    position: absolute;
    top: 24px;
    left: calc(50% - 36px);
    width: 10px;
    height: 10px;
    background-color: $color-grey-light;
    border-radius: 50%;
  }

  .phone-power-button {
    position: absolute;
    border: 2px solid $color-grey-light;
    top: 23%;
    right: -7px;
    width: 7px;
    height: 40px;
    background-color: $color-white;

    &:hover {
      cursor: pointer;
    }
  }

  .screen {
    position: relative;
    height: 100%;
    border: 3px solid $color-black;
    background-color: $color-white;

    &.is-power-off {
      background-color: $color-black;

      .phone-info-bar,
      .inputDisplay,
      .outputDisplay,
      .inputs {
        display: none;
      }
    }

    .phone-info-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 100%;
      color: $color-grey-lightest;
      font-size: 11px;
      display: flex;

      .info-network,
      .info-time,
      .info-battery {
        flex: 1;
      }

      .info-time {
        text-align: center;
      }

      .info-battery {
        text-align: right;
      }
    }

    .inputDisplay,
    .outputDisplay {
      background-color: $color-grey-darkest;
    }

    .inputDisplay {
      font-size: 24px;
      padding: 16px 20px 0 20px;
      height: 44px;
    }

    .outputDisplay {
      height: 76px;
      padding: 10px 15px;
      text-align: right;
      font-size: 50px;
    }
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;

    button {
      font-family: monospace;
      font-size: 18px;
      font-weight: 100;
      background-color: $color-grey-lighter;
      flex: 1;
      // border: 1px solid $color-grey-light;
      border: none;
      border-left: 1px solid $color-grey-light;
      border-bottom: 1px solid $color-grey-light;

      &:active {
        background-color: darken($color-grey-lighter, 10%);
      }

      &:last-child {
        color: white;
        background-color: $color-orange;

        &:active {
          background-color: darken($color-orange, 10%);
        }

      }
    }
  }

  .row5 {
    button:first-child {
      flex: 2 12%;
    }
  }

  .phone-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid $color-grey-light;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 21px);
    z-index: 1;
  }
}
